@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif');

*{
    margin: 0;
    padding: 0;
}

/* SECTION 1 / HEADER */

.slider {
    height: 100vh;
    width: 99vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header-txt{
    z-index: 1;
}

.exercice{
    color: #feebdd;
    font-style: italic;
    font-family: 'Noto Serif';
    margin-top: 5%;
    font-size: 18px;
}

.welcome{
    color: #feebdd;
    font-style: italic;
    text-align: center;
    font-family: 'Noto Serif';
    margin: 9% 0% 1% 0%;
    font-size: 25px;
}

.header-txt h1{
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.header-p{
    text-align: center;
    color: white;
    margin: 1% 32% 0% 32%;
    font-family: 'Montserrat', sans-serif;
}

.header-btn{
    display: flex;
    justify-content: center;
	align-items: center;
}

#header button{
    padding: 1% 2% 1% 2%;
    background-color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 1.5%;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.header-radio{
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

.slider__nav:checked {
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -114%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -227%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -341%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.4s;
    display: flex;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
  50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@media (max-width: 1025px) {
    
    .exercice{
        margin-left: 5%;
    }

    .slider img{
        height: 65vw;
    }
}

@media (max-width: 940px) {
    .slider img{
        height: 84vw;
    }
}

@media (max-width: 720px) {
    .slider img{
        height: 100vw;
    }
}

@media (max-width: 580px) {
    .slider img{
        height: 130vw;
    }
}

@media (max-width: 426px) {
    .exercice{
        margin: 7%;
    }

    .welcome{
        margin: 15% 0% 5% 0%;
    }

    .header-p{
        margin: 2% 0% 2% 0%;
    }
    
    #header button{
        padding: 4% 8% 4% 8%;
        margin-top: 4%;
    }

    .header-radio{
        margin-top: 10%;
    }

    .slider img{
        height: 125vw;
    }
}

@media (max-width: 376px) {
    .header-p{
        margin: 8% 0% 8% 0%;
    }

    .slider img{
        height: 190vw;
    }
}

@media (max-width: 321px) {
    .slider img{
        height: 190vw;
    }
}

/* SECTION 2 */

#titre{
    margin: 5% 5% 5% 5%;
}

#titre-p{
    color: #c99387;
    font-family: 'Noto Serif';
    font-style: italic;
}

#titre-h2{
    margin: 1% 0% 4% 0%;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}

#titre-block{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}

.a, .b, .c, .d{
    margin-bottom: 12%;
}

.a img{
    width: 70%;
    box-shadow: 1px 1px 5px 1px whitesmoke;
}

.b img{
    margin-top: 2%;
    width: 70%;
}

.d img{
    width: 89%;
}

.c img{
    width: 90%;
}

.e{
    margin-top: -8%;
}

.w{
    margin-top: -10%;
}

.chiffre{
    position: absolute;
    margin-top: 5.6%;
}

.titre-img-p{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.titre-chiffre{
    color: #fbf5f5;
    font-size: 150px;
    font-style: italic;
    margin-left: 1%;
    font-family: 'Noto Serif';
}

@media (max-width: 769px) {
    #titre{
        margin: -25% 5% 5% 5%;
    }

    #titre-block{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .a img, .b img{
        margin: 2% 0% 0% 0%;
        width: 100%;
    }

    .c img .d img{
        width: 100%;
        margin: 2% 0% 0% 0%;
    }

    .e{
        margin-top: -9.5%;
    }

    .chiffre{
        position: absolute;
        margin-top: 12%;
    }
}

/* SECTION 3 */

#titre-2{
    display: flex;
	justify-content: space-evenly;
    background: url("assets/landing-slider1-background.jpg");
    width: 99vw;
    height: 100vh;
    margin-bottom: 10%;
}

.titre2-txt{
    margin: 18% 5% 3% 5%;
}

.titre-p{
    color: #c99387;
    font-style: italic;
    margin-bottom: 2%;
}

.titre2-txt h2{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: white;
}

.titre-p2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 4% 0% 5% 0%;
}

.titre-link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}

.titre-img1{
    margin: 10% 6% 5% 0%;
}

.titre-img2{
    margin-top: 10%;
}

.titre-img1 img{
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-left: 3%;
    width: 100%;
}

.titre-img2 img{
    width: 70%;
    margin-left: 15%;
}

.j{
    position: absolute;
    right: 37.5%;
    margin-top: 9.5%;
}

.j img{
    width: 105%;
}

/* SECTION 4 */

#titre-3{
    padding-bottom: 8%;
}

.titre-3-sim{
    color: #c99387;
    font-family: 'Noto Serif';
    text-align: center;
    font-style: italic;
}

.titre-3-h{
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    margin: 0.5% 0% 3% 0%;
}

#block-project{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.pro{
    margin: 2% 2% 2% 2%
}

.pro img{
    width: 100%;
}

.pro p{
    color: #636363;
    margin: 5% 0% 5% 7%;
}

.pro h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin-top: 4%;  
}

/* FOOTER */

#footer{
    background: url("assets/landing-bottom-background-1.jpg");
    margin: auto;
    width: 99vw;
    height: 100vh;
}

.footer-p{
    text-align: center;
    font-style: italic;
    font-family: 'Noto Serif';
    padding-top: 15%;
    color: white;
}

#footer h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 1%;
}

#footer .footer-txt{
    text-align: center;
    color: white;
    margin: 1% 37% 0% 37%;
    font-family: 'Montserrat', sans-serif;
}

.footer-btn{
    display: flex;
    justify-content: center;
	align-items: center;
}

#footer button{
    padding: 1%;
    background-color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 1.5%;
}