@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.title{  
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 1% 0% 4% 0%;
}

.orange{
    color: #c99387;
    font-family: 'Noto Serif';
    font-style: italic;
}

.flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}

.principal-title{
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.principal-text{
    margin: 1% 32% 0% 32%;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    color: black;
    background-color: white;
    margin-top: 1.5%;
    padding: 1% 2% 1% 2%;
    border: none;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;

    &__information{
        z-index: 1;

        .header__exercise{
            margin: 3% 0% 0% 3%;
            color: #feebdd;
            font-style: italic;
            font-family: 'Noto Serif';
        }
        
        .header__welcome{
            margin: 9% 0% 1% 0%;
            font-size: 1.5rem;
            color: #feebdd;
            font-style: italic;
            text-align: center;
            font-family: 'Noto Serif';
        }

        .header__radio{
            display: flex;
            justify-content: center;
            margin-top: 7%;

            .header__nav {
                width: 12px;
                height: 12px;
                margin: 2rem 12px;
                border-radius: 50%;
                outline: 6px solid #ccc;
                outline-offset: -6px;
                -webkit-appearance: none;
                    -moz-appearance: none;
                        appearance: none;
            }
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.4s;
    }
}

/* SECTION 2 - HOME */

.home{
    margin: 0% 5% 5% 5%;

    &__01, &__02{
        margin-bottom: 15%;
    }
    
    &__01 img{
        box-shadow: 1px 1px 5px 1px whitesmoke;
    }
    
    &__01 img, &__03 img{
        width: 70%;
    }
    
    &__02 img, &__04 img{
        width: 89.2%;
    }
    
    .flex{

        img{
            position: relative;
            z-index: 1;
        }

        .home__title{
            position: absolute;
            margin-top: 1.5%;
            font-weight: bold;
            letter-spacing: 2px;
        }
        
        .orange{
            font-size: 9rem;
            opacity: 0.2;
            margin-left: 1.8%;
        }

        p{
            margin-top: -8%;
        }

        .home__right p:last-child{
            margin-top: -10%;
        }
    }
}

/* SECTION 3 - CHURCH */

.church{
    display: flex;
	justify-content: space-evenly;
    background: url("assets/landing-slider1-background.jpg");
    background-repeat: no-repeat;
    width: 99vw;
    height: 80vh;

    &__left{
        margin-top: 12%;

        p:not(.orange), a{
            text-align: left;
            color: white;
            margin-bottom: 6%;
        }
        
        a{
            text-decoration: none;
            letter-spacing: 1px;
        }
    }

    &__img1 img{
        position: absolute;
        margin-top: 10%;
        left: 43%;
    }

    &__img2 img{
        margin: 8% 0%;
    }
}

/* SECTION 4 - PROJECT */

.project{
    margin: 10% 0%;

    p{
        text-align: center;
    }

    &__div{
        margin: 2%;

        img{
            width: 80%;
        }

        p{
            text-align: left;
            font-weight: bold;
            letter-spacing: 2px;
            margin-top: 4%; 
        }
    }
}

/* FOOTER */

.footer{
    background: url("assets/landing-bottom-background-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99vw;
    height: 59vh;
    text-align: center;
    padding-top: 14%;
}

/* RESPONSIVE */

@media (max-width: 769px) {

    .principal-text{
        margin: 2% 5%;
    }
    
    .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        img{
            width: 100%;
        }
    }

    .button button{
        padding: 3% 8% 3% 8%;
    }

    /* HEADER */

    .header{
        height: 70vh;
    }

    /* HOME */

    .home{
        padding-top: 10%;
    }

    /* CHURCH */

    .church__left{
        margin: 25% 15%;
    }

    .church__link img{
        display: none;
    }

    /* PROJECT */

    .project__div p{
        margin-bottom: 10%;
    }

    /* FOOTER */

    .footer{
        height: 40vh;
    }
}

@media (max-width: 490px) {

    /* CHURCH */

    .church__left{
        margin-top: 45%;
    }

    /* FOOTER */

    .footer{
        height: 50vh;
    }
}