@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 1% 0% 4% 0%;
}

.orange {
  color: #c99387;
  font-family: "Noto Serif";
  font-style: italic;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.principal-title {
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.principal-text {
  margin: 1% 32% 0% 32%;
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  color: black;
  background-color: white;
  margin-top: 1.5%;
  padding: 1% 2% 1% 2%;
  border: none;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100VH;
  width: 100%;
}
.header__information {
  z-index: 1;
}
.header__information .header__exercise {
  margin: 3% 0% 0% 3%;
  color: #feebdd;
  font-style: italic;
  font-family: "Noto Serif";
}
.header__information .header__welcome {
  margin: 9% 0% 1% 0%;
  font-size: 1.5rem;
  color: #feebdd;
  font-style: italic;
  text-align: center;
  font-family: "Noto Serif";
}
.header__information .header__radio {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.header__information .header__radio .header__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header__inner {
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.4s;
}

/* SECTION 2 - HOME */
.home {
  margin: 0% 5% 5% 5%;
}
.home__01, .home__02 {
  margin-bottom: 15%;
}
.home__01 img {
  box-shadow: 1px 1px 5px 1px whitesmoke;
}
.home__01 img, .home__03 img {
  width: 70%;
}
.home__02 img, .home__04 img {
  width: 89.2%;
}
.home .flex .home__title {
  position: absolute;
  margin-top: 1.5%;
  font-weight: bold;
  letter-spacing: 2px;
}
.home .flex .orange {
  font-size: 9rem;
  opacity: 0.2;
  margin-left: 1.8%;
}
.home .flex p {
  margin-top: -8%;
}

/* SECTION 3 - CHURCH */
.church {
  display: flex;
  justify-content: space-evenly;
  background: url("assets/landing-slider1-background.jpg");
  background-repeat: no-repeat;
  width: 99vw;
  height: 80vh;
}
.church__left {
  margin-top: 12%;
}
.church__left p:not(.orange), .church__left a {
  text-align: left;
  color: white;
  margin-bottom: 6%;
}
.church__left a {
  text-decoration: none;
  letter-spacing: 1px;
}
.church__img1 img {
  position: absolute;
  margin-top: 10%;
  left: 43%;
}
.church__img2 img {
  margin: 8% 0%;
}

/* SECTION 4 - PROJECT */
.project {
  margin: 10% 0%;
}
.project p {
  text-align: center;
}
.project__div {
  margin: 2%;
}
.project__div img {
  width: 80%;
}
.project__div p {
  text-align: left;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 4%;
}

/* FOOTER */
.footer {
  background: url("assets/landing-bottom-background-1.jpg");
  background-repeat: no-repeat;
  width: 99vw;
  height: 59vh;
  text-align: center;
  padding-top: 14%;
}/*# sourceMappingURL=style.css.map */